USE [master]
GO
/****** Object:  Database [SnackShopDB]    Script Date: 3/3/2021 9:21:48 PM ******/
CREATE DATABASE [SnackShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SnackShopDB', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SnackShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SnackShopDB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SnackShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SnackShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SnackShopDB]
GO
/****** Object:  UserDefinedFunction [dbo].[DoanhThu]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--10 thống kê danh sách các mặt hàng bán hôm '12/24/2019' và doanh thu của chúng
	create function [dbo].[DoanhThu](@date date)
	 returns @tk Table (		
		Ten_Hang nvarchar(50),
		Doanh_Thu int
	) AS
	begin
		insert into @tk(
			Ten_Hang,
			Doanh_Thu )
		select TenHang, sum(Lai_theo_LO.Tong_Lai) as Doanh_Thu from 
			(select Lai_theo_GiaNhap.MaLoHang, Lai_theo_GiaNhap.MaHang, Lai_theo_GiaNhap.TenHang, sum(Lai_theo_GiaNhap.Lai) as Tong_Lai from 
				(select LoHang.MaLoHang, MatHang.MaHang, MatHang.TenHang, sum(DongHoaDon.SoLuong)*MatHang.DonGia as Lai  from MatHang, LoHang, DongHoaDon, HoaDon 
					where MatHang.MaHang=LoHang. MaHang and LoHang.MaLoHang= DongHoaDon.MaLoHang  and DongHoaDon.MaHD = HoaDon.MaHD and
						@date = CONVERT(date, HoaDon.ThoiGian)
					Group by LoHang.MaLoHang, MatHang.DonGia, MatHang.MaHang, MatHang.TenHang
				) 
				as Lai_theo_GiaNhap
				group by Lai_theo_GiaNhap.MaLoHang, Lai_theo_GiaNhap.MaHang, Lai_theo_GiaNhap.TenHang
			)
		as Lai_theo_LO
		group by MaHang, TenHang
		--order by Doanh_Thu DESC			
		return
	end

GO
/****** Object:  UserDefinedFunction [dbo].[ThongKe]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 -- 9 thống kê mức độ bán chạy của các mặt hàng trong từng khoảng thời giam

		create function [dbo].[ThongKe](@start date, @end date)
		returns @tk Table (		
			TenHang nvarchar(50),
			daban int
		) AS
		begin
			insert into @tk(
				TenHang,
				daban )
			select MatHang.TenHang, sum(sumLo) from MatHang, 
					(select LoHang.MaLoHang, MaHang, sum(DongHoaDon.SoLuong) as sumLo from LoHang 
					inner join DongHoaDon on LoHang.MaLoHang = DongHoaDon.MaLoHang
					inner join HoaDon on DongHoaDon.MaHD = HoaDon.MaHD and HoaDon.ThoiGian between @start and @end
					group by LoHang.MaLoHang, MaHang
					) 
			as AsTongLo
			where MatHang.MaHang = AsTongLo.MaHang
			group by MatHang.MaHang, MatHang.TenHang
				
		return
	end

GO
/****** Object:  Table [dbo].[Bill]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id_bill] [int] IDENTITY(1,1) NOT NULL,
	[subtotal] [decimal](12, 0) NULL,
	[total] [decimal](12, 0) NULL,
	[creatDate] [datetime] NULL,
	[id_customer] [int] NULL,
	[discountCode] [varchar](20) NULL,
	[discount] [decimal](12, 0) NULL,
	[address] [nvarchar](500) NULL,
	[phone] [char](10) NULL,
	[id_status] [int] NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[id_bill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[id_bill] [int] NOT NULL,
	[id_product] [int] NOT NULL,
	[price] [decimal](10, 0) NULL,
	[amount] [int] NULL,
	[intoMoney] [decimal](12, 0) NULL,
	[discriptionProductDetail] [nvarchar](max) NULL,
 CONSTRAINT [PK_BillDetail] PRIMARY KEY CLUSTERED 
(
	[id_bill] ASC,
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillStatus]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillStatus](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_BillStatus] PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id_cart] [int] IDENTITY(1,1) NOT NULL,
	[subtotal] [decimal](12, 0) NULL,
	[total] [decimal](12, 0) NULL,
	[id_discountCode] [varchar](20) NULL,
	[id_customer] [int] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[id_cart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetail]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetail](
	[id_cart] [int] NOT NULL,
	[id_product] [int] NOT NULL,
	[price] [decimal](10, 0) NULL,
	[amount] [int] NULL,
	[intoMoney] [decimal](12, 0) NULL,
	[discriptionProductDetail] [nvarchar](max) NULL,
 CONSTRAINT [PK_CartDetail_1] PRIMARY KEY CLUSTERED 
(
	[id_cart] ASC,
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id_category] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[photo] [varchar](100) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credential]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credential](
	[id_role] [varchar](50) NOT NULL,
	[id_userGroup] [varchar](20) NOT NULL,
	[expire] [datetime] NULL,
 CONSTRAINT [PK_Credential] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC,
	[id_userGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id_customer] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[phone] [char](10) NULL,
	[address] [nvarchar](200) NULL,
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[subtotalCart] [decimal](12, 0) NULL,
	[totalCart] [decimal](12, 0) NULL,
	[avatar] [varchar](100) NULL,
	[id_discountCode] [varchar](20) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[id_customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCode]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCode](
	[id_discountCode] [varchar](20) NOT NULL,
	[discount] [decimal](12, 0) NULL,
 CONSTRAINT [PK_DiscountCode] PRIMARY KEY CLUSTERED 
(
	[id_discountCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id_product] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[information] [nvarchar](max) NULL,
	[review] [nvarchar](max) NULL,
	[view] [int] NULL,
	[availability] [bit] NOT NULL,
	[price] [decimal](10, 0) NULL,
	[salePercent] [int] NULL,
	[salePrice] [decimal](10, 0) NULL,
	[rate] [float] NULL,
	[mainPhoto] [varchar](100) NULL,
	[photo1] [varchar](100) NULL,
	[photo2] [varchar](100) NULL,
	[photo3] [varchar](100) NULL,
	[photo4] [varchar](100) NULL,
	[updated] [date] NULL,
	[id_category] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetail]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetail](
	[id_productDetail] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[amount] [int] NULL,
	[availability] [bit] NOT NULL,
	[extraPrice] [decimal](10, 0) NULL,
	[id_product] [int] NULL,
 CONSTRAINT [PK_ProductDetail] PRIMARY KEY CLUSTERED 
(
	[id_productDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id_role] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[status] [bit] NULL,
	[createDate] [datetime] NULL,
	[id_userGroup] [varchar](20) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 3/3/2021 9:21:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[id_userGroup] [varchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserGroup] PRIMARY KEY CLUSTERED 
(
	[id_userGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([id_bill], [subtotal], [total], [creatDate], [id_customer], [discountCode], [discount], [address], [phone], [id_status]) VALUES (36, CAST(265000 AS Decimal(12, 0)), CAST(1235000 AS Decimal(12, 0)), CAST(N'2020-07-03T09:10:38.683' AS DateTime), 2, N'10', CAST(50000 AS Decimal(12, 0)), N'HN', N'1111      ', 3)
INSERT [dbo].[Bill] ([id_bill], [subtotal], [total], [creatDate], [id_customer], [discountCode], [discount], [address], [phone], [id_status]) VALUES (37, CAST(265000 AS Decimal(12, 0)), CAST(1235000 AS Decimal(12, 0)), CAST(N'2020-07-03T09:10:51.750' AS DateTime), 2, N'20', CAST(50000 AS Decimal(12, 0)), N'HD', N'2222      ', 2)
INSERT [dbo].[Bill] ([id_bill], [subtotal], [total], [creatDate], [id_customer], [discountCode], [discount], [address], [phone], [id_status]) VALUES (38, CAST(265000 AS Decimal(12, 0)), CAST(1235000 AS Decimal(12, 0)), CAST(N'2020-07-03T09:11:11.200' AS DateTime), 2, N'30', CAST(50000 AS Decimal(12, 0)), N'HY', N'3333      ', 2)
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
INSERT [dbo].[BillDetail] ([id_bill], [id_product], [price], [amount], [intoMoney], [discriptionProductDetail]) VALUES (39, 4, CAST(250 AS Decimal(10, 0)), 2, CAST(400 AS Decimal(12, 0)), N'none')
INSERT [dbo].[BillDetail] ([id_bill], [id_product], [price], [amount], [intoMoney], [discriptionProductDetail]) VALUES (39, 20, CAST(250 AS Decimal(10, 0)), 2, CAST(400 AS Decimal(12, 0)), N'none')
INSERT [dbo].[BillDetail] ([id_bill], [id_product], [price], [amount], [intoMoney], [discriptionProductDetail]) VALUES (39, 21, CAST(250 AS Decimal(10, 0)), 2, CAST(400 AS Decimal(12, 0)), N'none')
GO
SET IDENTITY_INSERT [dbo].[BillStatus] ON 

INSERT [dbo].[BillStatus] ([id_status], [status]) VALUES (1, N'Chờ xác nhận')
INSERT [dbo].[BillStatus] ([id_status], [status]) VALUES (2, N'Chờ lấy hàng')
INSERT [dbo].[BillStatus] ([id_status], [status]) VALUES (3, N'Đang giao')
SET IDENTITY_INSERT [dbo].[BillStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([id_cart], [subtotal], [total], [id_discountCode], [id_customer]) VALUES (1, CAST(0 AS Decimal(12, 0)), CAST(0 AS Decimal(12, 0)), N'', 1)
INSERT [dbo].[Cart] ([id_cart], [subtotal], [total], [id_discountCode], [id_customer]) VALUES (2, CAST(0 AS Decimal(12, 0)), CAST(0 AS Decimal(12, 0)), NULL, 2)
INSERT [dbo].[Cart] ([id_cart], [subtotal], [total], [id_discountCode], [id_customer]) VALUES (3, CAST(0 AS Decimal(12, 0)), CAST(0 AS Decimal(12, 0)), NULL, 3)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
INSERT [dbo].[CartDetail] ([id_cart], [id_product], [price], [amount], [intoMoney], [discriptionProductDetail]) VALUES (2, 2, CAST(63200 AS Decimal(10, 0)), 2, CAST(126400 AS Decimal(12, 0)), NULL)
INSERT [dbo].[CartDetail] ([id_cart], [id_product], [price], [amount], [intoMoney], [discriptionProductDetail]) VALUES (2, 3, CAST(68000 AS Decimal(10, 0)), 2, CAST(136000 AS Decimal(12, 0)), NULL)
INSERT [dbo].[CartDetail] ([id_cart], [id_product], [price], [amount], [intoMoney], [discriptionProductDetail]) VALUES (2, 16, CAST(63000 AS Decimal(10, 0)), 1, CAST(63000 AS Decimal(12, 0)), NULL)
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id_category], [name], [photo]) VALUES (1, N'Combo 1 người', N'c6.jpg')
INSERT [dbo].[Category] ([id_category], [name], [photo]) VALUES (2, N'Combo nhóm', N'c15.jpg')
INSERT [dbo].[Category] ([id_category], [name], [photo]) VALUES (3, N'Sản phẩm ưu đãi', N'sp18.png')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Credential] ([id_role], [id_userGroup], [expire]) VALUES (N'ADD_USER', N'ADMIN', NULL)
INSERT [dbo].[Credential] ([id_role], [id_userGroup], [expire]) VALUES (N'DELETE_USER', N'ADMIN', NULL)
INSERT [dbo].[Credential] ([id_role], [id_userGroup], [expire]) VALUES (N'EDIT_USER', N'ADMIN', NULL)
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([id_customer], [name], [phone], [address], [userName], [password], [subtotalCart], [totalCart], [avatar], [id_discountCode]) VALUES (1, N'Nguyễn Đức Hưng', N'0328887832', N'230 Nguyễn Văn Giáp', N'ndhung', N'0000', CAST(0 AS Decimal(12, 0)), CAST(0 AS Decimal(12, 0)), N'kh1.png', NULL)
INSERT [dbo].[Customer] ([id_customer], [name], [phone], [address], [userName], [password], [subtotalCart], [totalCart], [avatar], [id_discountCode]) VALUES (2, N'Vũ Minh Hiếu', N'0322220125', N'117 Trần Cung', N'vmhieu', N'0000', NULL, NULL, N'kh2.png', NULL)
INSERT [dbo].[Customer] ([id_customer], [name], [phone], [address], [userName], [password], [subtotalCart], [totalCart], [avatar], [id_discountCode]) VALUES (3, N'Nguyễn Hữu Tiến', N'0352220122', N'231 Trần Cung', N'nhtien', N'0000', NULL, NULL, N'kh3.png', NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
INSERT [dbo].[DiscountCode] ([id_discountCode], [discount]) VALUES (N'111', CAST(213 AS Decimal(12, 0)))
INSERT [dbo].[DiscountCode] ([id_discountCode], [discount]) VALUES (N'112', CAST(2 AS Decimal(12, 0)))
INSERT [dbo].[DiscountCode] ([id_discountCode], [discount]) VALUES (N'114', CAST(2 AS Decimal(12, 0)))
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id_product], [name], [description], [information], [review], [view], [availability], [price], [salePercent], [salePrice], [rate], [mainPhoto], [photo1], [photo2], [photo3], [photo4], [updated], [id_category]) VALUES (1, N'Combo gà rán A', N'2 miếng gà giòn + 1 pepsi lon', NULL, NULL, 30, 1, CAST(79000 AS Decimal(10, 0)), 0, CAST(79000 AS Decimal(10, 0)), 5, N'c1.jpg', N'c1.jpg', N'c1.jpg', N'c1.jpg', N'c1.jpg', CAST(N'2020-08-07' AS Date), 1)
INSERT [dbo].[Product] ([id_product], [name], [description], [information], [review], [view], [availability], [price], [salePercent], [salePrice], [rate], [mainPhoto], [photo1], [photo2], [photo3], [photo4], [updated], [id_category]) VALUES (2, N'Combo gà rán B', N'3 miếng hot wings + 1 khoai tây chiên (lớn) + 1 pepsi lon', N'', NULL, 17, 1, CAST(79000 AS Decimal(10, 0)), 20, CAST(63200 AS Decimal(10, 0)), 5, N'c2.jpg', N'c2.jpg', N'c2.jpg', N'c2.jpg', N'c2.jpg', CAST(N'2020-06-17' AS Date), 1)
INSERT [dbo].[Product] ([id_product], [name], [description], [information], [review], [view], [availability], [price], [salePercent], [salePrice], [rate], [mainPhoto], [photo1], [photo2], [photo3], [photo4], [updated], [id_category]) VALUES (3, N'Combo gà rán C', N'1 miếng gà giòn cay + 1 burger tôm + 1 pepsi lon', N'', NULL, 8, 1, CAST(85000 AS Decimal(10, 0)), 20, CAST(68000 AS Decimal(10, 0)), 5, N'c3.jpg', N'c3.jpg', N'c3.jpg', N'c3.jpg', N'c3.jpg', CAST(N'2020-06-17' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetail] ON 

INSERT [dbo].[ProductDetail] ([id_productDetail], [name], [amount], [availability], [extraPrice], [id_product]) VALUES (1, N'miếng hot wiings', 3, 1, CAST(20000 AS Decimal(10, 0)), 2)
INSERT [dbo].[ProductDetail] ([id_productDetail], [name], [amount], [availability], [extraPrice], [id_product]) VALUES (2, N'khoai tây chiên (lớn)', 1, 1, CAST(40000 AS Decimal(10, 0)), 2)
INSERT [dbo].[ProductDetail] ([id_productDetail], [name], [amount], [availability], [extraPrice], [id_product]) VALUES (3, N'pepsi lon', 1, 1, CAST(15000 AS Decimal(10, 0)), 2)
SET IDENTITY_INSERT [dbo].[ProductDetail] OFF
GO
INSERT [dbo].[Role] ([id_role], [name]) VALUES (N'ADD_USER', N'Thêm user')
INSERT [dbo].[Role] ([id_role], [name]) VALUES (N'DELETE_USER', N'Xóa user')
INSERT [dbo].[Role] ([id_role], [name]) VALUES (N'EDIT_USER', N'Sửa user')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id_user], [userName], [password], [name], [email], [status], [createDate], [id_userGroup]) VALUES (1, N'hieumta', N'hieu', N'Vũ Minh Hiếu', N'vuhieupro1999@gmail.com', NULL, CAST(N'2020-06-16T00:00:00.000' AS DateTime), N'ADMIN')
INSERT [dbo].[User] ([id_user], [userName], [password], [name], [email], [status], [createDate], [id_userGroup]) VALUES (2, N'hungmta', N'hung', N'Nguyễn Đức Hưng', N'nguyenduchung99hd@gmail.com', NULL, CAST(N'2020-06-16T00:00:00.000' AS DateTime), N'MEMBER')
INSERT [dbo].[User] ([id_user], [userName], [password], [name], [email], [status], [createDate], [id_userGroup]) VALUES (3, N'linhlinh', N'16091999', N'Đinh Thị Diệu Linh', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserGroup] ([id_userGroup], [name]) VALUES (N'ADMIN', N'Quản trị')
INSERT [dbo].[UserGroup] ([id_userGroup], [name]) VALUES (N'MEMBER', N'Thành viên')
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_subtotal]  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_total]  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_discount]  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [DF_Bill_status]  DEFAULT ((1)) FOR [id_status]
GO
ALTER TABLE [dbo].[BillDetail] ADD  CONSTRAINT [DF_BillDetail_price]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[BillDetail] ADD  CONSTRAINT [DF_BillDetail_amount]  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[BillDetail] ADD  CONSTRAINT [DF_BillDetail_intoMoney]  DEFAULT ((0)) FOR [intoMoney]
GO
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF_Cart_subtotal]  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Cart] ADD  CONSTRAINT [DF_Cart_total]  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[CartDetail] ADD  CONSTRAINT [DF_CartDetail_price]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[CartDetail] ADD  CONSTRAINT [DF_CartDetail_amount]  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[CartDetail] ADD  CONSTRAINT [DF_CartDetail_intoMoney]  DEFAULT ((0)) FOR [intoMoney]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_subtotalCart]  DEFAULT ((0)) FOR [subtotalCart]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_total]  DEFAULT ((0)) FOR [totalCart]
GO
ALTER TABLE [dbo].[DiscountCode] ADD  CONSTRAINT [DF_DiscountCode_discount]  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_review]  DEFAULT ((0)) FOR [view]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_availability]  DEFAULT ((1)) FOR [availability]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_price]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_salePercent]  DEFAULT ((0)) FOR [salePercent]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_salePrice]  DEFAULT ((0)) FOR [salePrice]
GO
ALTER TABLE [dbo].[ProductDetail] ADD  CONSTRAINT [DF_ProductDetail_amount]  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[ProductDetail] ADD  CONSTRAINT [DF_ProductDetail_availability]  DEFAULT ((1)) FOR [availability]
GO
ALTER TABLE [dbo].[ProductDetail] ADD  CONSTRAINT [DF_ProductDetail_extraPrice]  DEFAULT ((0)) FOR [extraPrice]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_BillStatus] FOREIGN KEY([id_status])
REFERENCES [dbo].[BillStatus] ([id_status])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_BillStatus]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Customer] FOREIGN KEY([id_customer])
REFERENCES [dbo].[Customer] ([id_customer])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Customer]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Bill] FOREIGN KEY([id_bill])
REFERENCES [dbo].[Bill] ([id_bill])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Bill]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_BillDetail_Product] FOREIGN KEY([id_product])
REFERENCES [dbo].[Product] ([id_product])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_BillDetail_Product]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Customer] FOREIGN KEY([id_customer])
REFERENCES [dbo].[Customer] ([id_customer])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Customer]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FK_CartDetail_Cart] FOREIGN KEY([id_cart])
REFERENCES [dbo].[Cart] ([id_cart])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FK_CartDetail_Cart]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FK_CartDetail_Product] FOREIGN KEY([id_product])
REFERENCES [dbo].[Product] ([id_product])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FK_CartDetail_Product]
GO
ALTER TABLE [dbo].[Credential]  WITH CHECK ADD  CONSTRAINT [FK_Credential_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([id_role])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Credential] CHECK CONSTRAINT [FK_Credential_Role]
GO
ALTER TABLE [dbo].[Credential]  WITH CHECK ADD  CONSTRAINT [FK_Credential_UserGroup] FOREIGN KEY([id_userGroup])
REFERENCES [dbo].[UserGroup] ([id_userGroup])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Credential] CHECK CONSTRAINT [FK_Credential_UserGroup]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_DiscountCode] FOREIGN KEY([id_discountCode])
REFERENCES [dbo].[DiscountCode] ([id_discountCode])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_DiscountCode]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([id_category])
REFERENCES [dbo].[Category] ([id_category])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetail_Product] FOREIGN KEY([id_product])
REFERENCES [dbo].[Product] ([id_product])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductDetail] CHECK CONSTRAINT [FK_ProductDetail_Product]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserGroup] FOREIGN KEY([id_userGroup])
REFERENCES [dbo].[UserGroup] ([id_userGroup])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserGroup]
GO
USE [master]
GO
