@model IEnumerable<CnWeb_FastFood.Models.EF.Category>

<div class="sidebar__item featured__controls" style="text-align:left; display:inline-grid">
    <h4>Thể loại sản phẩm</h4>
    <ul class="filter-category">
        <li class="active" data-filter="*" style="background-color:antiquewhite; border-radius: 16px; padding: 0px 10px 0px 10px; margin: 5px 2px 5px 2px;"><a href="#">Tất cả</a></li>
        @foreach (var item in Model)
        {
            var filterName = ".c" + item.id_category;
            <li data-filter="@filterName" style="background-color:antiquewhite; border-radius: 16px; padding: 0px 10px 0px 10px; margin: 5px 2px 5px 2px;"><a href="#">@item.name</a></li>
        }
    </ul="filter-category">
</div>
