
@{
    ViewBag.Title = "error_401";
    Layout = "/Areas/Admin/Views/Shared/_AdminlteLayout.cshtml";
}
@section Styles{
    <title>AdminLTE 3 | DiscountCode</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Assets/Admin/LTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Assets/Admin/LTE/dist/css/adminlte.min.css">
}
<div class="m-2">
    <div class="alert alert-danger">Bạn không có quyền truy cập chức năng này</div>
</div>


@section Scripts{
    <script src="/Assets/Admin/LTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/Assets/Admin/LTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Assets/Admin/LTE/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Assets/Admin/LTE/dist/js/demo.js"></script>


    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>

}


