<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="/Home/Index"><img src="/Assets/Client/img/logo.png" alt=""></a>
    </div>
    
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="/Areas/Admin/Content/Photos/@Session["AVATAR_SESSION"]" class="user-image" alt="User Image" />
            <span class="hidden-xs">@Session["USER_SESSION"]</span>
        </div>
        </br>
        <div class="header__top__right__auth">
            <a href="/CustomerLogin/Index"><i class="fa fa-user"></i> Đăng nhập</a>
        </div>

        <div class="pull-right">
            <span >Tiếng Việt</span>
            <img src="/Assets/Client/img/language.png" alt="">
        </div>
        
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="MenuHome"><a href="/Home/Index" style="font-size: 17px;">Trang chủ</a></li>
            <li class="MenuShop"><a href="/Shop/Index" style="font-size: 17px;">Mua hàng</a></li>
            <li class="MenuBill"><a href="/CustomerBill/Index" style="font-size: 17px;">Đơn mua</a></li>
            <li class="MenuContact"><a href="/Contact/Index" style="font-size: 17px;">Liên hệ</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> pizzahut@gmail.com</li>
            <li>Free ship cho đơn hàng từ 50.000 đ</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> pizzahut@gmail.com</li>
                            <li>Free ship cho đơn hàng từ 50.000 đ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__language">
                            <img src="/Areas/Admin/Content/Photos/@Session["AVATAR_SESSION"]" onerror="this.onerror=null this.src='/Areas/Admin/Content/Photos/default.png'" width="22" class="user-image" alt="" />
                            <span class="hidden-xs" data-id="@Session["ID_SESSION"]" id="txtCustomer">@Session["USER_SESSION"]</span>
                        </div>
                        <div class="header__top__right__auth">
                            <a href="/CustomerLogin/Index"><i class="fa fa-user"></i> Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <table>
                    <a href="/Home/Index"><img src="/Assets/Client/img/logo.png" alt=""></a>
                </table>

            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li class="MenuHome"><a href="/Home/Index" style="font-size: 17px;">Trang chủ</a></li>
                    <li class="MenuShop"><a href="/Shop/Index" style="font-size: 17px;">Mua hàng</a></li>
                    <li class="MenuBill"><a href="/CustomerBill/Index" style="font-size: 17px;">Đơn mua</a></li>
                    <li class="MenuContact"><a href="/Contact/Index" style="font-size: 17px;">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
        @Html.Action("HeaderCart", "ShopCart")
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>
<!-- Header Section End -->
