<!-- Footer Section Begin -->
<footer class="footer spad" style="padding-top: 30px;">
    <div class="container">
        <div class="row">
            <table style="width: 100%;">
                <col style="width: 40%;">
                <col style="width: 30%;">
                <col style="width: 30%;">
                <tr>
                    <td>
                        <div>
                            <div>
                                <div class="footer__about__logo">
                                    <a href="/Home/Index"><img src="/Assets/Client/img/logo.png" alt=""></a>
                                </div>
                                <p>Địa chỉ: 236 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội</p>
                                <p>Điện thoại: +84 65.888.888</p>
                                <p>Email: pizzahut@gmail.com</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>Thanh toán</p>
                            <img src="/Assets/Client/img/payment.png" alt="" height="110px"></a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <p>Đơn vị giao hàng</p>
                            <img src="/Assets/Client/img/ship.png" alt="" height="110px; width: 300px"></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</footer>
<!-- Footer Section End -->